    <!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <h2 class="title">micra<span class="highlight">.io</span></h2>
            <p class="intro">Open source micro services <br/>to help developers solve their common problems</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="http://github.com/micraio/" target="_blank">Source Code</a>
                <a class="btn btn-cta-primary" href="https://github.com/micraio/micraio.github.io/wiki/Welcome-to-the-micra.io/" target="_blank">Get Started</a>
            </div>
            <ul class="meta list-inline">
                
            </ul><!--//meta-->
        </div><!--//container-->
        <div class="social-media">
            <div class="social-media-inner container text-center">
                <ul class="list-inline">
                    <li class="twitter-follow"><a href="https://twitter.com/micraio" class="twitter-follow-button" data-show-count="false">Follow @micraio</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-follow-->
                    <li class="twitter-tweet">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="micraio" data-hashtags="bootstrap">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </li><!--//twitter-tweet-->
                    <!--// Generate github buttons: https://github.com/mdo/github-buttons -->
                    <!--//
                    <li class="github-star">
                        <iframe src="http://ghbtns.com/github-btn.html?user=micraio&repo=captain&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
                    </li>
                    <li class="github-fork"><iframe src="http://ghbtns.com/github-btn.html?user=microio&repo=captain&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe></li>
                    
                    <li class="github-follow"><iframe src="http://ghbtns.com/github-btn.html?user=mdo&type=follow&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe></li>
                    -->
                </ul>
            </div>
        </div>
    </section><!--//promo-->
